li {
  list-style: none;
  width: 250px;
}

.body {
  margin: 0;
  padding: 0;
  background-color: #efefef;
  font-family: "Roboto Mono", sans-serif;
}

.main {
  margin: 0 auto;
}

.header {
  font-size:30px;
  padding:0;
  text-align:center;
}

.main-title {
  margin: 0;
  padding: 80px 20px;
  padding-bottom: 25px;
  font-size: 40px;
}

.title {
  margin: 0;
  padding: 0;
  margin-top: 0;
  text-align: center;
}

.container {
  width: 320px;
  margin:0 auto;
}

.website-list {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.website-link {
  display: block;
  height: 250px;
}

.website-item {
  margin-bottom: 120px;
  margin-right: 7%;
  margin-left: 7%;
}

.website-item:hover {
  position: relative;
  z-index: 10;
  border-radius: 5px 5px 0 0;
}

.website-item:hover .website-paragraph {
  display: block;
  position: absolute;
  z-index: 5;
  width: 250px;
}

.website-paragraph {
  margin: 0;
  padding: 0;
  display: none;
  text-align: center;
  font-size: 15px;
  border-radius: 0 0 5px 5px;
  min-height: 100px;
}

.img {
  border-radius: 50%;
}

.img-site {
  border: 3px solid #a5a5f3;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.img-site:hover {
  transition: 0.3s;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.certificate {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
}

.certificate-item {
  margin-bottom: 20px;
}

.certificate-link {
  display: block;
  width: 250px;
  height: 250px;
}

.hidden {
  display: none;
  position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.hidden-img {
  max-width: 90%;
	max-height: 80%;
	margin-top: 100px;
}

.hidden:target {
	outline: none;
	display: block;
}

.social {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.social-item {
  width: auto;
  margin-right: 10px;
}

.social-link {
  display: block;
  width: 30px;
  height: 30px;
  background: url("../img/github.svg") no-repeat center;
}

.mail {
  background: url("../img/mail.svg") no-repeat;
}

.telegram {
  background: url("../img/telegram.svg") no-repeat center;
}

@media (min-width: 660px) {
  .container {
    width: 660px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

