li[class] {
  list-style: none;
}

.body {
  margin: 0;
  padding: 0;
  background-color: #efefef;
  font-family: "Roboto Mono", sans-serif;
  min-width: 320px;
}

.main {
  margin: 0 auto;
}

.header {
  font-size:30px;
  padding:0;
  text-align:center;
}

.header__foto {
  width: 150px;
  height: 150px;
  margin-top: 50px;
  border-radius: 50%;
}

.main-title {
  margin: 0;
  padding: 20px 20px;
  padding-bottom: 25px;
  font-size: 35px;
}

.title {
  margin: 0;
  padding: 0;
  margin-top: 50px;
  text-align: center;
}

.container {
  width: 320px;
  margin:0 auto;
}

.website-list {
  margin: 0 auto;
  padding: 0;
  width: 206px;
  height: 131px;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.website-link {
  display: block;
  height: 131px;
}

.website-item {
  position: absolute;
  opacity: 1;
}

.website-paragraph {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  display: block;
  text-align: center;
  font-size: 15px;
  border-radius: 0 0 5px 5px;
  min-height: 100px;
  opacity: 1;
  transition: all 0.6s ease-in-out;
}

.img {
  width: 200px;
  height: 125px;
  border-radius: 10px;
}

.img-site {
  width: 200px;
  height: 125px;
  border: 3px solid #868c56a8;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.button__inner {
  width: 200px;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.button {
  border: none;
  width: 25px;
  height: 45px;
  cursor: pointer;
  outline: none;
  transition: transform 0.1s ease-in-out;
}

/* .button:active {
  transform: scale(0.97);
} */

.button__left {
  background: url('../img/left-arrow-3.svg') no-repeat center;
}

.button__right {
  background: url('../img/left-arrow-3.svg') no-repeat center;
  transform: rotateY(180deg);
}

.button__move {
  opacity: 1;
  visibility: visible;
  transform: translateX(-210px) translateZ(-150px) rotateY(45deg);
}

.inner__slider {
  height: 316px;
  overflow: hidden;
}

.slider__wrapper {
  margin-top: 30px;
}

/*======== классы для трансформации слайдера ===========*/
.slider__center--on {
  z-index: 200;
}

.slider__left {
  transform: translateX(-170px) translateZ(-120px) rotateY(30deg);
  z-index: 100;
}

.slider__left-off {
  transform: translateX(-220px) translateZ(-180px) rotateY(30deg);
  opacity: 0;
  z-index: 50;
}

.slider__right {
  transform: translateX(170px) translateZ(-120px) rotateY(-30deg);
  z-index: 100;
}

.slider__right-off {
  transform: translateX(220px) translateZ(-180px) rotateY(-30deg);
  opacity: 0;
  z-index: 50;
}

li.slider__move {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

/*========================================*/

.slider__left .website-paragraph,
.slider__left-off .website-paragraph,
.slider__right .website-paragraph,
.slider__right-off .website-paragraph {
  opacity: 0;
}

.certificate {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
}

.certificate-item {
  margin-bottom: 20px;
}

.certificate-link {
  display: block;
  width: 200px;
  height: 125px;
}

.hidden {
  display: none;
  position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.hidden-img {
  max-width: 90%;
	max-height: 80%;
	margin-top: 100px;
}

.hidden:target {
	outline: none;
	display: block;
}

.social {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.social-item {
  width: auto;
  margin-right: 10px;
}

.social-link {
  display: block;
  width: 30px;
  height: 30px;
  background: url("../img/github.svg") no-repeat center;
}

.mail {
  background: url("../img/mail.svg") no-repeat;
}

.telegram {
  background: url("../img/telegram.svg") no-repeat center;
}

.twitter {
  background: url("../img/twitter.svg") no-repeat center;

}

@media (min-width: 695px) {
  .container {
    width: 695px;
  }

  .header__foto {
    width: 180px;
    height: 180px;
  }

  .title {
    margin-top: 30px;
  }

  .social {
    margin-bottom: 20px;
  }

  .main-title {
    padding: 20px;
    font-size: 40px;
  }

  .img-site {
    width: 300px;
    height: 188px;
    border-radius: 10px;
  }

  .website-list {
    width: 306px;
    height: 194px;
  }

  .website-link {
    height: 194px;
  }

  .website-paragraph {
    padding-top: 10px;
  }

  /*======== классы для слайдера ===========*/

  .slider__left {
    transform: translateX(-240px) translateZ(-200px) rotateY(35deg);
    z-index: 100;
  }

  .slider__left-off {
    transform: translateX(-320px) translateZ(-250px) rotateY(35deg);
    opacity: 0;
    z-index: 50;
  }

  .slider__right {
    transform: translateX(240px) translateZ(-200px) rotateY(-35deg);
    z-index: 100;
  }

  .slider__right-off {
    transform: translateX(320px) translateZ(-250px) rotateY(-35deg);
    opacity: 0;
    z-index: 50;
  }

  .img {
    width: 300px;
    height: 188px;
  }

  .certificate-link {
    width: 300px;
    height: 188px;
  }

}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }

  .title {
    margin-top: 40px;
  }

  .img-site {
    width: 480px;
    height: 300px;
  }

  .img {
    width: 480px;
    height: 300px;
  }

  .certificate-link {
    width: 486px;
    height: 300px;
  }

  .inner__slider {
    height: 406px;
  }

  .website-list {
    width: 486px;
    height: 306px;
  }

  .website-link {
    height: 306px;
  }

  .website-paragraph {
    min-height: auto;
  }

  .slider__left {
    transform: translate(-370px) translateZ(-200px) rotateY(45deg);
    z-index: 100;
  }

  .slider__left-off {
    transform: translate(-440px) translateZ(-250px) rotateY(45deg);
    opacity: 0;
    z-index: 50;
  }

  .slider__right {
    transform: translate(370px) translateZ(-200px) rotateY(-45deg);
    z-index: 100;
  }

  .slider__right-off {
    transform: translate(440px) translateZ(-250px) rotateY(-45deg);
    opacity: 0;
    z-index: 50;
  }
}

